name: date_time_picker_ultra
description: "Flutter package offers customizable DateTime pickers through dropdowns, dialog boxes, and widget bases for easy integration into applications."
version: 0.0.2
homepage: https://github.com/TechProgression/DateTimePikerUltra.git

environment:
  sdk: '>=3.2.2 <4.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  intl: ^0.19.0


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
